@media (min-width: 770px){
  .rec-row {
    display: table;
    background: #C9C9C9;
    height: 100%;
}

.rec-left {
    float: none;
    width:50%;
    display:table-cell;
    vertical-align:middle;
    width:50%;
    text-align:center;
}

.rec-right {
    float: none;
    width:50%;
    display:table-cell;
    vertical-align:middle;
    width:50%;
    text-align:center;
    /* border-left:1px solid black; */
}
}


.projects-container p{
  font-size: 18px;
  text-shadow: 0 2px 2px black;
}

.projects-container h1{
  margin-bottom: 30px;
}

.projects-header{
  padding-bottom: 80px;
}

#projects-title{
  margin-top: 60px;
  margin-bottom: 25px;
}

#projects-subtitle{
  line-height: 25px;
  font-size: 18px;
  color: #FFF5CA;
}

.project-text{
  padding-left: 5%;
}

.project-screenshot{
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: .9;
}

.project-screenshot:hover{
  opacity: 1;
}

.pink-link{
  color: #f68be3;
}

.pink-link:hover{
  color: #e963d2;
}

.yellow-link{
  color: #ffec9e;
}

.yellow-link:hover{
  color: #ffe46e;
}

/* mobile */
@media (max-width: 770px){
    .project-text{
      margin-left: 10px;
      margin-right: 10px;
    }
    #projects-subtitle{
      margin-left: 10px;
      margin-right: 10px;
    }
    .project-screenshot{
      width: 340px;
      height: auto;
    }

    .rec-left{
      /* border-bottom: 1px solid black; */
    }
  }