.projects-container p{
  font-size: 18px;
  text-shadow: 0 2px 2px black;
}

.projects-container h1{
  margin-bottom: 30px;
}

.project-text{
  padding-left: 5%;
}

.project-screenshot{
  margin-top: 25px;
  margin-bottom: 25px;
}
.projects-header{
  padding-bottom: 80px;
}
#projects-title{
  margin-top: 60px;
  margin-bottom: 25px;
}

#projects-subtitle{
  line-height: 25px;
  font-size: 18px;
  color: #FFF5CA;
}

.synth-lord-link{
  color: #f68be3;
}

.synth-lord-link:hover{
  color: #e963d2;
}

.scalegenius-link{
  color: #ffec9e;
}

.scalegenius-link:hover{
  color: #ffe46e;
}

/* mobile */
@media (max-width: 800px){
    .project-text{
      margin-left: 25px;
    }
    .project-text{
      margin-right: 25px;
    }
  }