#blog-header{
    font-family: "Sentinel A","Sentinel B","Georgia","Helvetica Neue",Arial,sans-serif;
}

#blog-header{
    font-weight: 600;
    font-size: 60px;
    margin-top: 50px;
}

#blog-sub-header{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
}

#archive-link{
    float: left;
    font-size: 18px;
    margin: 15px 0px;
}

#archive-search{
    float: right;
    margin: 15px 0px;
 }

 .form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.blog-content{
    padding-top: 60px;
}

#sidebar-img{
    max-width:100%;
    max-height:100%;
}

.post-preview-container{
    background: #353435;
    padding-top: 20px;
}

.post-preview-item{
    background: #131313;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;    
    -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
         box-shadow: 0 10px 6px -6px black;
}