.recommendation-container{
  color: black;
  width: 100%;
  background: #C9C9C9;
}

.req-row{
  padding-top: 30px;
  padding-bottom: 30px;
}

.req-col{
  padding: 0;
}

blockquote{
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4;
  color: #27313B;
  font-weight: 470;
  font-size: 18px;
}

#rec-img{
  padding-top: 10px;
}

/* mobile */
@media (max-width: 770px){
  #rec-img{
    width: 340px;
    height: auto;
  }

  blockquote{
    padding: 0 25px;
  }
}