.recommendation-container{
  background: #C9C9C9;
  color: black;
}

.content{
  padding: 20px;
}

blockquote{
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4;
  color: #27313B;
  font-weight: 470;
  font-size: 18px;
}

#felipe-img{
  padding-top: 10px;
}

/* mobile */
@media (max-width: 770px){
  #felipe-img{
    width: 340px;
    height: auto;
  }
}