.recommendation-container{
  background: #eeeeee;
  color: black;
  
}

.content{
  padding: 30px;
}

blockquote{
  margin: 0;
  padding: 0;
  line-height: 1.4;
  color: #27313B;
  font-weight: 450;
  font-size: 18px;
}

#felipe-img{
  padding-top: 10px;
}