.about-container{
  background: #C9C9C9;
  color: #27313B;
}

#about-header{
  margin-top: 60px;
  margin-bottom: 30px;
}

#about-text{
  margin: 25px;
  margin-right: 40px;
  text-align: left;
}

.about-pic{
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  object-fit: cover;
  max-height: 445px;
}


@media (min-width: 1370px){ 
  #about-text{
    line-height: 1.5;
    font-size: 18px;
  }
}

/* mobile */
@media (max-width: 770px){
  #about-header{
    margin-top: 35px;
  }

  #about-text{
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
}